header{
    border: 0px solid transparent;
    border-radius: 30px;
    position: sticky;
    top: 0;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
}
.menu{
    display: flex;
    font-size: 30px;
}

.menu li{
    padding: 5px 15px;
}
.menu li a:hover{
    transition: all 0.3s;
    color: red;
}